// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$h1-mobile: 1rem;
$h1-tablet: 2rem;
$h1-bigger: 3rem;
$p-mobile: 0.7rem;
$p-tablet: 0.8rem;
$table-th-mobile: 0.6rem;
$table-th-tablet: 0.7rem;
$table-td-mobile: 0.5rem;
$table-td-tablet: 0.6rem;
$card-header-mobile: 1rem;
$card-header-tablet: 2rem;
$card-body-mobile: 0.7rem;
$card-body-tablet: 1rem;
$card-input-mobile: 0.7rem;
$card-input-tablet: 0.8rem;
