// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Media breakpoints
@import "_breakpoints";

body {
    text-align: center;
    font-family: "Nunito";
    //Options to force the screen to landscape
    /*@include breakpoints(mobile) {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: auto;
        position: absolute;
        top: 100%;
        left: 0;
    }
    @include breakpoints(tablet) {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: auto;
        position: absolute;
        top: 100%;
        left: 0;
    }*/
}

.card {
    margin: 0 auto;
    float: none;
}

.card-header {
    margin: 0 auto;
    float: none;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    @include breakpoints(mobile) {
        font-size: $card-header-mobile;
    }
    @include breakpoints(tablet) {
        font-size: $card-header-tablet;
    }
}

.card-body {
    @include breakpoints(mobile) {
        font-size: $card-body-mobile;
        input {
            font-size: $card-input-mobile;
        }
    }
    @include breakpoints(tablet) {
        font-size: $card-body-tablet;

        input {
            font-size: $card-input-tablet;
        }
    }
}

h1 {
    font-size: $h1-bigger;
    font-weight: bold;
    @include breakpoints(mobile) {
        font-size: $h1-mobile;
    }
    @include breakpoints(tablet) {
        font-size: $h1-tablet;
    }
}

p {
    @include breakpoints(mobile) {
        font-size: $p-mobile;
    }
    @include breakpoints(tablet) {
        font-size: $p-tablet;
    }
}

.table-display {
    th {
        @include breakpoints(mobile) {
            font-size: $table-th-mobile;
        }
        @include breakpoints(tablet) {
            font-size: $table-th-tablet;
        }
    }
    td {
        @include breakpoints(mobile) {
            font-size: $table-td-mobile;
            button {
                font-size: $table-td-mobile;
            }
        }
        @include breakpoints(tablet) {
            font-size: $table-td-tablet;
            button {
                font-size: $table-td-tablet;
            }
        }
    }
}

.new-user-modal {
    @include breakpoints(mobile) {
        font-size: 12px;
        width: 100%;
        button {
            font-size: 10px;
        }
    }
    @include breakpoints(tablet) {
        font-size: 10px;
        width: 100%;
        button {
            font-size: 12px;
        }
    }
}

.delete-modal {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    @include breakpoints(mobile) {
        font-size: 12px;

        button {
            font-size: 10px;
        }
    }
    @include breakpoints(tablet) {
        font-size: 14px;

        button {
            font-size: 12px;
        }
    }
}

.img-thumbnail {
    border: 0 none;
    box-shadow: none;
    background: transparent;
}

.p-tag {
    animation: p-tag-text 2s linear infinite;
}

@keyframes p-tag-text {
    50% {
        color: black;
        font-size: 1rem;
    }
}
